<form method="post" action="{{ path('fi.accepte', {'id': invitation.id}) }}" style="display: inline">
    <input type="hidden" name="_token" value="{{ csrf_token('accepte' ~ invitation.id) }}">
    <button id="acref">Accepter</button>
</form>
