<form method="post" action="{{ path('fi.delete', {'id': invitation.id}) }}" style="display: inline">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ invitation.id) }}">
    <button id="acref">Refuser</button>
</form>
