<form method="post" action="{{ path('admin.game.delete', {'id': game.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer la partie?');"class="inline">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ game.id) }}">
    <button class="btn btn-danger btn-flat btn-sm">Supprimer</button>
</form>
